body {
    background-color: #161d31;
    padding: 20px;
}

.card {
    padding: 10px;
    border-radius: 3px;
    height: 80px;
    background-color: #26314c;
    color: white;
    padding-left: 25px;
    border-left: 3px solid #e7552f;
}

.card label{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    /*color: #757a88;*/
    color:white;
    margin-bottom: 0px;
}

.card .value{
    font-weight: 300;
    font-size: 20px;
    color:white;
}


.card.blue {
    border-left: 3px solid #3aa1b8;
}


.top-spaced{
    margin-top : 20px;
}

.card.chart{
    height: 200px;
}

#chartsBoxes .col-sm-6 {
    margin-top: 30px;
}